# Cargo build directory
/target

# Ignore files created for testing
/test-*.yaml
/*.pem
/tests/e2e/testdata/**/*.key
/tests/e2e/testdata/**/*.crt

# Release build output
/dist

# Test coverage report
/*.profraw
