---
name: CI

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Release build"
        type: boolean
        default: false
        required: false
      dry-run:
        description: "Do not push image"
        type: boolean
        default: false
        required: false
      latest:
        description: "Tag latest"
        type: boolean
        default: false
        required: false
  workflow_call:
    inputs:
      release:
        description: "Release build"
        type: boolean
        default: false
        required: false
      dry-run:
        description: "Do not push image"
        type: boolean
        default: false
        required: false
      latest:
        description: "Tag latest"
        type: boolean
        default: false
        required: false
  push:
    branches: ["main"]
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - "src/**"
      - "tests/**"
      - "Dockerfile"
  pull_request:
    branches: ["main"]
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - "src/**"
      - "tests/**"
      - "Dockerfile"
      - ".github/workflows/ci.yaml"
      - "README.md"
  merge_group:
    branches: ["main"]

jobs:
  extract-version:
    uses: heathcliff26/ci/.github/workflows/cargo-version.yaml@main
    permissions:
      contents: read

  doc:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "make doc"

  lint:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "make lint"

  test:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "make test"

  validate:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "make validate"

  e2e:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "make test-e2e"

  build-binary:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    needs:
      - doc
      - lint
      - test
      - validate
      - e2e
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
          - arch: arm64
    with:
      cmd: "make release"
      artifact: "dist/cerberus-mergeguard-${{ matrix.arch }}"
      artifact-name: "cerberus-mergeguard-${{ matrix.arch }}"
      architecture: "${{ matrix.arch }}"

  build-image:
    uses: heathcliff26/ci/.github/workflows/build-container.yaml@main
    permissions:
      contents: read
      packages: write
    needs:
      - extract-version
      - doc
      - lint
      - test
      - validate
      - e2e
    with:
      dockerfile: Dockerfile
      tag: "${{ inputs.release && needs.extract-version.outputs.version || 'rolling' }}"
      tags: "${{ inputs.latest == true && 'type=raw,value=latest' || '' }}"
      dry-run: ${{ github.event_name == 'pull_request' || github.event_name == 'merge_group' || inputs.dry-run == 'true' }}
      build-args: |
        CI_COMMIT_SHA=${{ github.sha }}
    secrets: inherit
